*{
    color: #f4f4f4;
}

a{
    text-decoration: none !important;
}

body{
    background-color: #2e343a ;
}

.right{
    float: right;
}

.active{
    border-top: 1px solid #feca57;
}

.navbar{
    padding: 10px 30px 10px 30px;
    border-bottom: 5px solid #feca57;
}

.form-inline{
    margin-left: 30px;
    padding: 0;
    height: 1px !important;
}

.form-control{
    width: 100% !important;
}

.dropdown-menu{
    border: 0;
    height: auto;
    padding: 0;
    background-color: transparent;
}

.nav-item{
    margin: 0 5px;
    transition: 0.3s;
}

.nav-item:hover{
    border-top: 1px solid #feca57;
}

:hover{
    transition: 0.3s ease-out;
}

/* ongoing */
.ongoing{
    width: 100%;
    display: inline-block;
    background-color: #343a40 ;
}

.title-ongoing{
    width: 100%;
    padding: 10px 20px;
    border-bottom: 1px solid #4b525a;
}

.container-ongoing {
    position: relative;
    width: 18%;
    float: left;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
    padding: 0;
}
  
.image-ongoing {
    opacity: 1;
    display: block;
    width: 100%;
    height: 230px;
    /* height: auto; */
    overflow: hidden;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.middle-ongoing {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
  
.container-ongoing:hover .image-ongoing {
    opacity: 0.3;
}
  
.container-ongoing:hover .middle-ongoing {
    opacity: 1;
}
  
.text-ongoing {
    /* background-color: #4CAF50; */
    color: white;
    font-size: 30px;
    padding: 16px 32px;
}

.ongoing-slider{
    width: 100%;
    margin: 1% 0;
}

.desc-ongoing{
    position: relative;
    top: -15px;
    width: 100%;
    padding: 5px;
    text-align: left;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.status-ongoing{
    position: relative;
    top: -15px;
    color: #818181;
    padding: 5px;
    font-size: 12px;
}

.rating{
    width: 50px;
    height: 20px;
    font-size: 12px;
    background-color: rgba(56, 56, 56, 0.8);
    color: #fff;
    border-radius: 0 10% 0 0 ;
    position: relative;
    z-index: 1;
    padding: 2px;
    top: -20px;
}

.space{
    margin: 1% 0;
}

/* list */
.box-item{
    width: 48%;
    margin: 1%;
    /* background-color: #fff; */
    float: left;
    height: auto;
}
.image-update{
    width: 40%;
    float: left;
    height: 110px;
    /* margin: 1%; */
    /* background-color: #343a40; */
    position: relative;
    top: 10%;
    overflow: hidden;
    border-radius: 3%;
}
.image-update img{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.title-update{
    float: left;
    color: #fff;
    width: 55%;
    margin-left: 2%;
    text-align: left;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}
.desc-update{
    margin-top: 1%;
    float: left;
    color: rgb(160, 160, 160);
    width: 55%;
    margin-left: 2%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.page-item{
    margin: 0.5%;
    border-radius: 3%;
}

.paging{
    color: #feca57;
    background-color: transparent;
    border-color: #feca57;
}

.page-link:hover{
    color: #030303;
    background-color: #feca57;
    border-color: #feca57;
}

.page-link{
    transition: 0.3s ease-out;
}

/* footer */
footer{
    width: 100%;
    text-align: center;
    padding: 1% 0;
    background-color: #343a40;
    font-size: 14px;
    color: #cccccc;
}

/* movie */
.container-movie{
    height: 230px;
    margin-top: 1%;
    margin-bottom: 1%;
}
.button-movie{
    float: right;
    padding: 1% 2%;
    background-color: #feca57;
    color: #343a40;
    border-radius: 5%;
    border: none;
    transition: 0.5s;
}

.button-movie:hover{
    background-color: #fff;
    color: #feca57;
}

.middle-movie{
    top: 50%;
}

.movie-hover{
    width: 100%;
    height: 0;
    background-color: #2e343a;
    z-index: 5;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.5s;
    padding-left: 3%;
    font-size: 13px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-movie:hover .movie-hover{
    height: 25px;
}

/* genre */
.ul-genre{
    width: 90%;
    margin: 1%;
    list-style: none;
}

.ul-genre a{
    color: #fff;
}

.ul-genre li{
    margin-top: 5px;
    border-bottom: 1px solid #4b525a;
}

.count{
    font-size: 12px;
}

/* genre page */
.container-genre{
    padding: 1%;
}

.box-genre{
    width: 15%;
    padding: 5px 10px;
    background-color: #4b525a;
    border-radius: 5px;
    color: #cccccc;
    transition: 0.3s;
    text-transform: capitalize;
    float: left;
    margin: 5px;
}

.box-genre:hover{
    background-color: #feca57;
    color: #343a40;
}

.recomended{
    width: 100%;
    height: auto;
}

.recomended .image-update{
    width: 100px;
    height: 150px;
}

.recomended .title-update, .recomended .desc-update{
    width: 70%;
}

.recomended .title-update{
    margin-top: 5%;
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
}

/* anime list */
.box-list{
    width: 95%;
    height: auto;
    margin: 0 3%;
}

.box-list .container-ongoing{
    width: 13%;
}

.page-active{
    background-color: #feca57;
    color: #343a40 !important;
}

/* movie */
.title-movie{
    float: left;
    color: #fff;
    width: 85%;
    margin-top: 1%;
    margin-left: 2%;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
}

.desc-movie{
    margin-top: 1%;
    float: left;
    color: rgb(160, 160, 160);
    width: 85%;
    margin-left: 2%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

/* stream */
.video-stream{
    width: 100%;
    height: 500px;
}

.desc-info{
    margin-top: 1%;
    float: left;
    margin-left: 2%;
    margin-left: 2%;
    width: 55%;
}

.desc-info td{
    padding: 5px;
    color: rgb(160, 160, 160);
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.table-striped{
    font-size: 14px;
}

.table-striped a{
    color: rgb(160, 160, 160);
}

.container-sinopsis{
    width: 90%;
    margin: 2%;
    height: 300px;
}

/* back to top */
.back-top {
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-block;  
    padding: 1em;
    margin: 1em;
    color: #343a40 !important;
    font-weight: bolder;
    background: #feca57;
}

.back-top:hover {
    cursor: pointer;
}
/* --------------------------------------------------------------------------------- */

@media screen and (min-width: 360px) and (max-width: 740px){
    .box-item{
        width: 100%;
    }
    .box-genre{
        width: auto;
    }
    .recomended .image-update{
        width: 80px;
    }
    .box-list .container-ongoing{
        width: 45%;
    }
    .desc-movie{
        display: none;
    }
    .movie-container{
        width: 45%;
        margin: 5px;
    }
    .movie-container .image-update{
        width: 100%;
        height: 200px;
    }
    .movie-container .title-movie{
        width: 100%;
        font-weight: 500;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (min-width: 740px) and (max-width: 1280px){
    .box-list .container-ongoing{
        width: 30%;
    }
    .desc-movie{
        display: none;
    }
    .movie-container{
        width: 31%;
        margin: 5px;
    }
    .movie-container .image-update{
        width: 100%;
        height: 250px;
    }
    .movie-container .title-movie{
        width: 100%;
        font-weight: 500;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}